*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
#load{
    color: white;
    font-family: tahoma;
    text-align: center;
    margin-top: 2%;
}
#loader{
    width: 120px;
    height: 120px;
    border: black 15px solid;
    border-right: yellow 15px solid;
    border-radius: 50%;
    margin: auto;
    margin-top: 18%;

    animation-name: loader;
    animation-duration: 2s;
    animation-iteration-count: 6;
    animation-timing-function: ease-in-out;
}
@keyframes loader{
    0%   { transform: rotate( 0deg );     }
    100% { transform: rotate( 360deg ); }
}
#navbar{
    height: 50px;
    background-color: black;
    padding-top: 0px; 
    margin: 0px;
    display: none;            
}
#navbar ul{
    list-style: none;
}
#navbar a{
    float: left;
    padding: 0px 20px;
    line-height: 50px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    font-family: oswald;
}
#navbar li{
    transition: all 0.4s;
}
#navbar li:hover{
    background-color: red;
    height: 100%;
    font-size: 35px;
    margin-top: 0%;
}
#navbar h4:hover{
    background-color: red;
    font-size: 40px;
}
.right{
    text-decoration: none;
    transition: 0.2s;
    list-style: none;
}
option{
    cursor: pointer;
}
#contain{
    height: 450px;
    background-image: url(Laptop.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.4s;
    margin: 100px;
    box-shadow: grey 5px 5px 5px;
}
.boxes{
    border: red 5px groove;
    width: 300px;
    height: 300px;
    margin: 10px;
}

#home{
    background-color: black;
    display: none;
}
#contain1{
    border: groove 20px grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    padding-bottom: 1%;
    width: 95%;
}
#heading1{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: algerian;
    font-weight: bold;
    color: white;
}
.boxrow1{
    position: relative;
    
    width: 290px;
    height: 200px;
    border: red 5px groove;
    margin: 20px;
    overflow: hidden;
}
#heading2{
    margin-top: 10%;
    font-size: 50px;
    font-family: algerian;
    font-weight: bold;
    color: white;
}
#contain2{
    border: groove 20px grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    padding-bottom: 1%;
    width: 95%;
    margin-top: 2%;
}
.boxrow2{
    position: relative;
    
    width: 290px;
    height: 200px;
    border: red 5px groove;
    margin: 20px;
    overflow: hidden;
}
#heading3{
    margin-top: 10%;
    font-size: 50px;
    font-family: algerian;
    font-weight: bold;
    color: white;
}
#contain3{
    border: groove 20px grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    padding-bottom: 1%;
    width: 95%;
    margin-top: 2%;
}
.boxrow3{
    position: relative;
    
    width: 290px;
    height: 200px;
    border: red 5px groove;
    margin: 20px;
    overflow: hidden;
}
#heading4{
    margin-top: 10%;
    font-size: 50px;
    font-family: algerian;
    font-weight: bold;
    color: white;
}
#contain4{
    border: groove 20px grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    padding-bottom: 1%;
    width: 95%;
    margin-top: 2%;
}
.boxrow4{
    position: relative;
    
    width: 290px;
    height: 200px;
    border: red 5px groove;
    margin: 20px;
    overflow: hidden;
}
.imgcontent1{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 200px;
    text-align: center;
    margin: 0px;
}
.imgcontent2{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 200px;
    text-align: center;
}
.imgcontent3{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    line-height: 200px;
    text-align: center;
}
.imgcontent4{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    line-height: 200px;
    text-align: center;
}
.imgcontent5{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 200px;
    text-align: center;
}
.imgcontent6{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 200px;
    text-align: center;
}
.imgcontent7{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height:200px;
    text-align: center;
}
.imgcontent8{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 200px;
    text-align: center;
}
.imgcontent9{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 200px;
    text-align: center;
}
.imgcontent10{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 200px;
    text-align: center;
}
.imgcontent11{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 200px;
    text-align: center;
}
.imgcontent12{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 19px;
    line-height: 200px;
    text-align: center;
}
.imgcontent13{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 200px;
    text-align: center;
}
.imgcontent14{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    line-height: 200px;
    text-align: center;
}
.imgcontent15{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family:  'Noto Sans', sans-serif;    
    font-size: 20px;
    line-height: 200px;
    text-align: center;
}
.imgcontent16{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#boxrow1:hover .imgcontent1   {   bottom: 0%;  }
#boxrow2:hover .imgcontent2   {   bottom: 0%;  }
#boxrow3:hover .imgcontent3   {   bottom: 0%;  }
#boxrow4:hover .imgcontent4   {   bottom: 0%;  }
#boxrow5:hover .imgcontent5   {   bottom: 0%;  }
#boxrow6:hover .imgcontent6   {   bottom: 0%;  }
#boxrow7:hover .imgcontent7   {   bottom: 0%;  }
#boxrow8:hover .imgcontent8   {   bottom: 0%;  }
#boxrow9:hover .imgcontent9   {   bottom: 0%;  }
#boxrow10:hover .imgcontent10 {   bottom: 0%;  }
#boxrow11:hover .imgcontent11 {   bottom: 0%;  }
#boxrow12:hover .imgcontent12 {   bottom: 0%;  }
#boxrow13:hover .imgcontent13 {   bottom: 0%;  }
#boxrow14:hover .imgcontent14 {   bottom: 0%;  }
#boxrow15:hover .imgcontent15 {   bottom: 0%;  }
#boxrow16:hover .imgcontent16 {   bottom: 0%;  }
#about{
    color: white;
    display: none;
    font-family: tahoma;
    font-size: 20px;
    background-color: black;
}
#mall{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    box-shadow: 10px 10px 5px grey;
}
#contact{
    display: none;
    background-image: url(Shopping.jpg);
    background-size: cover;
    height: 92.8%;
    width: 100%;
}
.info{
    color: white;
    margin-left: 34%;
    cursor: text;
    font-family: fugaz one;
}
sup{
    color: red;
}
input{
    outline: none;
    width: 70%;
    margin-left: 14%;
}
form{
    border: black 5px solid;
    background-color: rgba(0, 0, 0, 0.37);
    width: 30%;
    margin-left: 30%;
}
label{
    margin-left: 34%;
    background-color: rgba(0, 0, 255, 0.596);
}
#contactsubmit{
    margin-left: 37%;
    width: 25%;
}
img{
    width: 100%;
    height: 100%;
}
#products{
    display: none;
    background-color: black;
    height: 1400px;
    width: 100%;
}
#head1{
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: algerian;
}
#container1{
    border: groove grey 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    padding-bottom: 1%;
    width: 95%;
}
.boxes1{
    position: relative;

    width: 250px;
    height: 200px;
    border: red 5px groove;
    margin: 2%;
    overflow: hidden;
}
#inner1{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner2{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner3{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner4{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner5{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 200px;
    text-align: center;
}
#inner6{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner7{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner8{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#row1:hover #inner1{ bottom: 0px; }
#row2:hover #inner2{ bottom: 0px; }
#row3:hover #inner3{ bottom: 0px; }
#row4:hover #inner4{ bottom: 0px; }
#row5:hover #inner5{ bottom: 0px; }
#row6:hover #inner6{ bottom: 0px; }
#row7:hover #inner7{ bottom: 0px; }
#row8:hover #inner8{ bottom: 0px; }
#head2{
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: algerian;
    margin-top: 2%;
}
#container2{
    border: groove grey 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    padding-bottom: 1%;
    width: 95%;
}
.boxes2{
    position: relative;

    width: 250px;
    height: 200px;
    border: red 5px groove;
    margin: 2%;
    overflow: hidden;
}
#inner9{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner10{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 200px;
    text-align: center;
}
#inner11{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner12{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner13{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner14{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner15{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner16{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#row9:hover #inner9{ bottom: 0px; }
#row10:hover #inner10{ bottom: 0px; }
#row11:hover #inner11{ bottom: 0px; }
#row12:hover #inner12{ bottom: 0px; }
#row13:hover #inner13{ bottom: 0px; }
#row14:hover #inner14{ bottom: 0px; }
#row15:hover #inner15{ bottom: 0px; }
#row16:hover #inner16{ bottom: 0px; }
#head3{
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: algerian;
    margin-top: 2%;
}
#container3{
    border: groove grey 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    padding-bottom: 1%;
    width: 95%;
}
.boxes3{
    position: relative;

    width: 250px;
    height: 200px;
    border: red 5px groove;
    margin: 2%;
    overflow: hidden;
}
#inner17{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner18{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 200px;
    text-align: center;
}
#inner19{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner20{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner21{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner22{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner23{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner24{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#row17:hover #inner17{ bottom: 0px; }
#row18:hover #inner18{ bottom: 0px; }
#row19:hover #inner19{ bottom: 0px; }
#row20:hover #inner20{ bottom: 0px; }
#row21:hover #inner21{ bottom: 0px; }
#row22:hover #inner22{ bottom: 0px; }
#row23:hover #inner23{ bottom: 0px; }
#row24:hover #inner24{ bottom: 0px; }
#head4{
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: algerian;
    margin-top: 2%;
}
#container4{
    border: groove grey 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    padding-bottom: 1%;
    width: 95%;
}
.boxes4{
    position: relative;

    width: 250px;
    height: 200px;
    border: red 5px groove;
    margin: 2%;
    overflow: hidden;
}
#inner25{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner26{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 200px;
    text-align: center;
}
#inner27{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner28{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner29{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner30{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner31{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#inner32{
    position: absolute;
    bottom: 100%;

    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    transition: all 0.6s;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 200px;
    text-align: center;
}
#row25:hover #inner25{ bottom: 0px; }
#row26:hover #inner26{ bottom: 0px; }
#row27:hover #inner27{ bottom: 0px; }
#row28:hover #inner28{ bottom: 0px; }
#row29:hover #inner29{ bottom: 0px; }
#row30:hover #inner30{ bottom: 0px; }
#row31:hover #inner31{ bottom: 0px; }
#row32:hover #inner32{ bottom: 0px; }